1. Медиана трех чисел:
Нужно написать функцию, которая возвращает среднее по значению число из трех чисел

In [1]:
def median3(a, b, c):
    listsort=[a,b,c]
    listsort.sort()
    return (listsort[1])

In [2]:
 median3(3,5,-2)

3

 Задача "Выколотый массив"
Arr - массив чисел от 1 до N, в котором одно число выкинули, а остальной массив перемешали. Требуется написать функцию, которая принимает на вход массив arr и возвращает удаленное число. Решение должно быть линейным, не должно модифицировать исходный массив и использовать дополнительную память.

In [3]:
def findMissing(arr):
    if arr[0]!=1: return(1)

    elif arr[-1]==len(arr):return (len(arr)+1)
    else:
        for i in range(len(arr)):
            delta= arr[i+1]-arr[i]
            if delta!=1: return (arr[i]+1)

In [4]:
findMissing([2,3,4,5])

1

3 задание. Научно-исследовательские центры каждый день закупают енотов для экспериментов.

Импортируем библиотеки

In [5]:
import pandas as pnd
from pandas import read_csv
import time 
import numpy as np

import gmaps
import gmaps.datasets

Я в excel обработала данные: заменила букву О на 0, в колонке с количеством енотов убрала кавычки, округлила значения. Привела данные в нормальный вид.
ссылка на Git: https://github.com/Alaevat/raccoons/blob/master/raccoon1s.csv

In [6]:
df1 = read_csv("raccoon1s.csv",";",index_col=None)
df1.head(20)

                   ﻿cor       time  raccoons_bought
0   55.771393 37.567392  442303138                2
1   55.705458 37.550926  442365718                0
2    55.83028 37.404815  442244596                0
3   55.799092 37.452157  442327511              148
4   55.749785 37.763962  442248573                1
5   55.798212 37.529313  442355980              100
6   55.763579 37.623798  442076325                4
7   55.655097 37.533652  441980427                0
8      55.754 37.669288  442229555                3
9    55.652781 37.53367  442065331                4
10  55.824309 37.429303  441906629                5
11  55.732996 37.698654  442066138                3
12  55.769347 37.567509  442317124                0
13   55.65849 37.606092  441823832                5
14  55.675093 37.569342  442152973                2
15  55.766238 37.651951  442225888                4
16  55.663365 37.562021  441874640                0
17  55.836833 37.551959  442026740                4
18  55.704666 37.568129  442029198                5
19  55.704874 37.585359  441930916                2

Удаление странных пробелов в столбце с координатами и разделение координат.

In [7]:
cord=df1.iloc[:, 0]
df1.iloc[:, 0] = cord.str.replace(u'\xa0', u' ')
cord2=cord.str.replace(u'\xa0', u' ')
df = pnd.DataFrame(cord2.str.split(' ',1).tolist(),
                                   columns = ['cor1','cor2'])

In [8]:
df1['cor1']=df['cor1']
df1['cor2']=df['cor2']

Перевод времени в читабельный вид

In [9]:
df1['date'] = pnd.to_datetime(df1['time'],unit='s')

In [10]:
len(df1['cor1'].unique().tolist()),len(df1['cor2'].unique().tolist())

(800, 799)

Из подсчета уникальных координат понятно, что есть одна координата которая имеет одно значение общее с другой. Поэтому импользуем обе координаты.

In [11]:
list_place=[]
for index, row in df1.iterrows():
    string_place= row['cor1']+row['cor2'] #соединнили координаты в одну строчку, чтобы потом сгруппировать
    list_place.append(string_place)
df1['places']=list_place

In [12]:
list_times=[]
for index, row in df1.iterrows():
    time1= row['date']
    list_times.append(time1.strftime("%m/%d")) #время без года и месяца
df1['time_use']=list_times

In [13]:
len(df1['time_use'].unique().tolist()) #проверка

7

In [14]:
data1=df1.groupby(['places', 'time_use'])['raccoons_bought'].sum() #группировка по центру и суммирование по каждому дню

In [15]:
data1

places              time_use
55.56424637.599004  01/01        11
                    01/02       123
                    01/03         8
                    01/04        11
                    01/05        13
                    01/06        21
                    01/07        11
55.57590737.677535  01/01         7
                    01/02         9
                    01/03         7
                    01/04        56
                    01/05        69
                    01/06        20
                    01/07        13
55.57732737.554861  01/01        10
                    01/02        18
                    01/03       110
                    01/04        12
                    01/05        13
                    01/06        23
                    01/07        12
55.57878837.673313  01/01        18
                    01/02       201
                    01/03        23
                    01/04        13
                    01/05        16
                    01/06        10
                    01/07        84
55.58088937.556056  01/01        43
                    01/02        23
                               ...
55.87120337.51953   01/06        84
                    01/07       178
55.88580737.556307  01/01       114
                    01/02        12
                    01/03        28
                    01/04        13
                    01/05         8
                    01/06         8
                    01/07         5
55.89172437.552579  01/01         4
                    01/02        13
                    01/03        14
                    01/04         8
                    01/05        16
                    01/06         6
                    01/07        21
55.89365737.520752  01/01        23
                    01/02        45
                    01/03        24
                    01/04       169
                    01/05        38
                    01/06       150
                    01/07        35
55.97983337.398455  01/01       136
                    01/02        12
                    01/03        74
                    01/04        13
                    01/05       184
                    01/06        11
                    01/07        12
Name: raccoons_bought, dtype: int64

In [16]:
df_new=data1.to_frame()

In [17]:
list_loc1=[]
for index, row in df_new.iterrows():
    if row['raccoons_bought']>500: #выбор нужных центров
        list_loc1.append(index)

In [18]:
list_need_cor=[]
for item in list_loc1:
    list_need_cor.append(item[0]) # получение нужных координат

In [19]:
list_need_cor[1:5]

['55.64579637.508975',
 '55.6463437.507475',
 '55.64716337.669513',
 '55.65437637.554618']

In [20]:
list_id=[]
for i in range(0,len(df1['time'])): 
    list_id.append(i)
    
df1['ID']=list_id # добавление индексирование для основного dataframe

Теперь по уникальному строчке из координат, мы находим ID наших центров и берем самое больше ID.

In [21]:
list_index_use=[]
for item in list_need_cor:
    list_index_use.append(df1[df1['places']==item]['ID'])

In [22]:
list_id_fin=[]
for i in list_index_use:
    list_id_fin.append(i.argmax())

In [23]:
list_a=[]
list_b=[]
for index in list_id_fin:
    list_a.append(df1.loc[index]['cor1'])
    list_b.append(df1.loc[index]['cor2']) # получаем раздельные координаты

In [24]:
mass_loc=np.array(())
list_locations=[]

In [25]:
mass=list()
list_a=[float(i) for i in list_a]
list_b=[float(i) for i in list_b]
for i in range(len(list_a)):
   
    list_of_tuples = (float(list_a[i]),float(list_b[i])) # переводим координаты в float
    
    list_locations.append(list_of_tuples)

Можно было сделать поиск координат поумнее, но так тоже работает)

Теперь приступаем к рисованию карт.

In [26]:

gmaps.configure(api_key="AIzaSyBMxeGvEvh6bPOuCaaL9jJf3-5Ogwjnx3U") # Your Google API key

In [27]:
fig = gmaps.Map()
layer_raccoons = gmaps.symbol_layer(list_locations, fill_color="green", stroke_color="green", scale=4)
fig.add_layer(layer_raccoons)
fig

Map(configuration={'api_key': 'AIzaSyBMxeGvEvh6bPOuCaaL9jJf3-5Ogwjnx3U'}, data_bounds=[(55.62563965545626, 37.44460605037966), (55.84583927311515, 37.70369601794329)], layers=(Markers(data_bounds=[(55.62563965545626, 37.44460605037965), (55.84583927311515, 37.70369601794329)], markers=[Symbol(fill_color='green', location=(55.639984, 37.523088), stroke_color='green'), Symbol(fill_color='green', location=(55.645796, 37.508975), stroke_color='green'), Symbol(fill_color='green', location=(55.64634, 37.507475), stroke_color='green'), Symbol(fill_color='green', location=(55.647163, 37.669513), stroke_color='green'), Symbol(fill_color='green', location=(55.654376, 37.554618), stroke_color='green'), Symbol(fill_color='green', location=(55.657499, 37.645214), stroke_color='green'), Symbol(fill_color='green', location=(55.657667, 37.467679), stroke_color='green'), Symbol(fill_color='green', location=(55.65849, 37.606092), stroke_color='green'), Symbol(fill_color='green', location=(55.673661, 37.552373), stroke_color='green'), Symbol(fill_color='green', location=(55.674813, 37.567617), stroke_color='green'), Symbol(fill_color='green', location=(55.675961, 37.571255), stroke_color='green'), Symbol(fill_color='green', location=(55.678549, 37.583023), stroke_color='green'), Symbol(fill_color='green', location=(55.681767, 37.516575), stroke_color='green'), Symbol(fill_color='green', location=(55.687188, 37.551277), stroke_color='green'), Symbol(fill_color='green', location=(55.693145, 37.546525), stroke_color='green'), Symbol(fill_color='green', location=(55.694718, 37.536562), stroke_color='green'), Symbol(fill_color='green', location=(55.694769, 37.564383), stroke_color='green'), Symbol(fill_color='green', location=(55.695641, 37.560161), stroke_color='green'), Symbol(fill_color='green', location=(55.695758, 37.565147), stroke_color='green'), Symbol(fill_color='green', location=(55.695758, 37.565147), stroke_color='green'), Symbol(fill_color='green', location=(55.698767, 37.579196), stroke_color='green'), Symbol(fill_color='green', location=(55.699188, 37.619117), stroke_color='green'), Symbol(fill_color='green', location=(55.708699, 37.567734), stroke_color='green'), Symbol(fill_color='green', location=(55.727511, 37.564931), stroke_color='green'), Symbol(fill_color='green', location=(55.734501, 37.580068), stroke_color='green'), Symbol(fill_color='green', location=(55.73477, 37.614841), stroke_color='green'), Symbol(fill_color='green', location=(55.738495, 37.620438), stroke_color='green'), Symbol(fill_color='green', location=(55.747601, 37.590246), stroke_color='green'), Symbol(fill_color='green', location=(55.752014, 37.677229), stroke_color='green'), Symbol(fill_color='green', location=(55.753443, 37.636284), stroke_color='green'), Symbol(fill_color='green', location=(55.757982, 37.715507), stroke_color='green'), Symbol(fill_color='green', location=(55.76175, 37.647657), stroke_color='green'), Symbol(fill_color='green', location=(55.761852, 37.709713), stroke_color='green'), Symbol(fill_color='green', location=(55.763579, 37.623798), stroke_color='green'), Symbol(fill_color='green', location=(55.764131, 37.631541), stroke_color='green'), Symbol(fill_color='green', location=(55.765985, 37.651241), stroke_color='green'), Symbol(fill_color='green', location=(55.771813, 37.575828), stroke_color='green'), Symbol(fill_color='green', location=(55.773702, 37.59922), stroke_color='green'), Symbol(fill_color='green', location=(55.77711, 37.51962), stroke_color='green'), Symbol(fill_color='green', location=(55.781676, 37.715641), stroke_color='green'), Symbol(fill_color='green', location=(55.782491, 37.580472), stroke_color='green'), Symbol(fill_color='green', location=(55.783084, 37.60187), stroke_color='green'), Symbol(fill_color='green', location=(55.784045, 37.584748), stroke_color='green'), Symbol(fill_color='green', location=(55.784708, 37.628163), stroke_color='green'), Symbol(fill_color='green', location=(55.786298, 37.572306), stroke_color='green'), Symbol(fill_color='green', location=(55.792999, 37.460664), stroke_color='green'), Symbol(fill_color='green', location=(55.793308, 37.591279), stroke_color='green'), Symbol(fill_color='green', location=(55.796046, 37.562308), stroke_color='green'), Symbol(fill_color='green', location=(55.797837, 37.452606), stroke_color='green'), Symbol(fill_color='green', location=(55.801364, 37.477085), stroke_color='green'), Symbol(fill_color='green', location=(55.801364, 37.477085), stroke_color='green'), Symbol(fill_color='green', location=(55.801364, 37.477085), stroke_color='green'), Symbol(fill_color='green', location=(55.802133, 37.486427), stroke_color='green'), Symbol(fill_color='green', location=(55.808002, 37.635853), stroke_color='green'), Symbol(fill_color='green', location=(55.818002, 37.461032), stroke_color='green'), Symbol(fill_color='green', location=(55.844753, 37.500926), stroke_color='green')]),), layout=Layout(align_self='stretch', height='400px'))

Спасибо за внимание!
Если есть замечания и т.п, рада буду советам.
email: alaevat@yandex.ru